# Supabase Configuration
# Required for client-side and server-side operations
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# SECURITY WARNING: DO NOT EXPOSE THIS KEY TO THE BROWSER
# Use only in secure server environments (e.g. lib/supabase/admin.ts)
SUPABASE_SERVICE_ROLE_KEY=


# Payment Gateway (Duitku)
DUITKU_MERCHANT_CODE=
DUITKU_API_KEY=
DUITKU_ENVIRONMENT=sandbox
DUITKU_CALLBACK_URL=
DUITKU_RETURN_URL=
